/******************* GENERICS *****************/
body {
    font-family: sans-serif;
}

:root {
    --lggrey: rgb(190, 188, 187);
    --grey: rgb(117, 117, 117);
    --dkgrey: rgb(54, 54, 54);
    --lgblue: rgb(45, 100, 230);
    --blue: rgb(0, 67, 156);
    --dkblue: rgb(22, 28, 59);
    --red: rgb(205, 61, 15);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

footer {
    background-color: var(--blue);
}

/******************** UTILS ******************/

.bground-red {
    background-color: var(--red);
}

.bground-lgblue {
    background-color: var(--lgblue);
}

.bground-dkblue {
    background-color: var(--dkblue);
}

.bground-lggrey {
    background-color: var(--lggrey);
}

.bground-grey {
    background-color: var(--grey);
}

.bground-dkgrey {
    background-color: var(--dkgrey);
}

.text-grey {
    color: var(--grey);
}

.text-lgblue {
    color: var(--lgblue);
}

/* JUMBOTRON */

section[id^="jumbotron"] {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section[id^="jumbotron"] .logo {
    width: 300px;
}

/* BANNER */

section[id^="banner"] .text {
    height: 300px;
}

section[id^="banner"] .logo {
    width: 300px;
}

/*********************** HEADER ****************/

header .top {
    background-color: rgb(0 0 0);
}

header .bottom {
    background-color: rgb(255 255 255);
}

header .top .logo {
    width: 70px;
}

header .bottom .search {
    text-align: end;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

/********************* MAIN *******************/

/* JUMBOTRON RETURNAL */

#jumbotron-returnal {
    background-image: url(../img/jumbo-bg.png);
}

/* JUMBOTRON ITT */

#jumbotron-itt {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* PLAYSTATION 4 */

#playstation-4 .info {
    min-height: 50px;
}

/******************* FOOTER ********************/

footer .globe {
    width: 20px;
}

footer .sie-logo {
    width: 120px;
}