/* GENERICS */
body {
    font-family: sans-serif;
}

:root {
    --lggrey: rgb(190, 188, 187);
    --grey: rgb(117, 117, 117);
    --dkgrey: rgb(54, 54, 54);
    --lgblue: rgb(45, 100, 230);
    --dkblue: rgb(22, 28, 59);
    --red: rgb(205, 61, 15);

}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .top {
    background-color: rgb(0 0 0);
}

header .bottom {
    background-color: rgb(255 255 255);
}

/* UTILS */

.bground-red {
    background-color: var(--red);
}

.bground-lgblue {
    background-color: var(--lgblue);
}

.bground-dkblue {
    background-color: var(--dkblue);
}

.bground-lggrey {
    background-color: var(--lggrey);
}

.bground-grey {
    background-color: var(--grey);
}

.bground-dkgrey {
    background-color: var(--dkgrey);
}

.text-grey {
    color: var(--grey);
}

.text-blue {
    color: var(--blue);
}

.btn {
    border-radius: 20px;
}

/* HEADER */

header .top img {
    width: 70px;
}

header .bottom .search {
    text-align: end;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

/* MAIN */

/* JUMBOTRON RETURNAL */

#jumbotron.returnal {
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron.returnal .row {
    height: 600px;
    align-items: flex-end;
    padding-bottom: 50px;
}

#jumbotron.returnal .col-12 {
    height: 300px;
}


#jumbotron.returnal .logo {
    width: 300px;
}

/* JUMBOTRON ITT */

#jumbotron.itt {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron.itt .row {
    height: 600px;
    align-items: center;
}

#jumbotron.itt .col-12 {
    height: 500px;
}


#jumbotron.itt img {
    width: 300px;
}

/* PLAYSTATION 4 */

#playstation-4 .info {
    min-height: 50px;
}

/* PLAYSTATION PLUS */

#playstation-plus .logo {
    width: 300px;
}

#playstation-plus .ps-plus {
    height: 100%;
}